<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Org_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Org_.Properties.Settings>
            <setting name="folderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="left_click" serializeAs="String">
                <value>Move23</value>
            </setting>
            <setting name="right_click" serializeAs="String">
                <value>Move01</value>
            </setting>
            <setting name="middle_click" serializeAs="String">
                <value>tass</value>
            </setting>
            <setting name="delete" serializeAs="String">
                <value>Delete</value>
            </setting>
        </Org_.Properties.Settings>
    </userSettings>
</configuration>